<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>GSSC Card Label 0</string>
	<string>GSSC Card Label 1</string>
	<string>GSSC Card Label 2</string>
	<string>GSSC Card Label 3</string>
</array>
</plist>
